<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <!-- Create alerte
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
     -->

      <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Cooper's Sick Shirts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            </form>

                    <div id="cart-container">
                    <div id="cart">
                            <i class="fa fa-shopping-cart fa-2x openCloseCart" aria-hidden="true"></i>
                            <button id="emptyCart">Vaciar carro</button>
                            </div>
                            <span id="itemCount"></span>
                    </div>


                    <div id="shoppingCart">
                    <div id="cartItemsContainer">
                            <h2>Items in your cart</h2>
                            <i class="fa fa-times-circle-o fa-3x openCloseCart" aria-hidden="true"></i>
                            <div id="cartItems"></div>
                            <span id="cartTotal"></span>
                    </div>
                    </div>


        </div>

        <div class="col-sm order-4">
          <%= render "/devise/shared/navbar"%>
        </div>

      </nav>

    <%= yield %>
  </body>
</html>
